.order__cart {
  padding: 10px 15px;
  display: flex;

  @media screen and (max-width: 565px) {
    flex-direction: column;
  }

  .image__box {
    width: 15%;
    height: 150px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    display: grid;
    place-items: center;

    @media screen and (max-width: 565px) {
      width: 100%;
    }
  }

  .content {
    padding: 0 5px;
    width: 85%;
    display: flex;
    justify-content: space-between;

    .descriptions {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .item__desc {
        display: flex;
        font-weight: 500;
        color: #b6b6b6;
        text-transform: uppercase;

        p {
          &:last-child {
            margin-left: 20px;
          }
        }
      }

      .price__section {
        display: flex;
        align-items: center;
        font-weight: 500;

        span {
          margin-left: 10px;
        }

        .old_price {
          text-decoration: line-through;
          color: #cecece;
          font-weight: 500;

          @media screen and (max-width: 390px) {
            display: none;
          }
        }

        .offer {
          background-color: #ff00511f;
          color: #ff6f00;
          padding: 3px 10px;
          font-weight: 500;
          border-radius: 10px;
        }

        @media screen and (max-width: 565px) {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    .icons {
      display: flex;
      font-size: 25px;

      svg {
        margin: 10px 0 0 10px;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 565px) {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
